$base-font: "Figtree", sans-serif;

$color-black: #000000;
$color-dark: #111111;
$color-default: #222222;
$color-grey: rgba(68, 68, 68, 1);
$color-light: rgba(117, 117, 117, 1);
$color-white: #ffffff;

$color-green: #bada55;
$color-orange: #ff9800;
$color-violet: #d90ffc;
$color-red: #f44336;
$color-blue: #64d4fc;
$color-yellow: #ffeb3b;
$color-turquoise: #34c5b7;

$color-black-50: #00000080;
$color-dark-50: #11111180;
$color-default-50: #22222280;
$color-grey-50: rgba(68, 68, 68, 0.5);
$color-light-50: rgba(117, 117, 117, 0.5);
$color-white-50: #ffffff80;
$color-green-50: #bada5580;
$color-orange-50: #ff980080;
$color-violet-50: #d90ffc80;
$color-red-50: #f4433680;
$color-blue-50: #64d4fc80;
$color-yellow-50: #ffeb3b80;
$color-turquoise-50: #34c5b780;

$color-black-20: #00000033;
$color-dark-20: #11111133;
$color-default-20: #22222233;
$color-grey-20: rgba(68, 68, 68, 0.2);
$color-light-20: rgba(117, 117, 117, 0.2);
$color-white-20: #ffffff33;
$color-green-20: #bada5533;
$color-orange-20: #ff980033;
$color-violet-20: #d90ffc33;
$color-red-20: #f4433633;
$color-blue-20: #64d4fc33;
$color-yellow-20: #ffeb3b33;
$color-turquoise-20: #34c5b733;

$color-black-80: #000000cc;
$color-dark-80: #111111cc;
$color-default-80: #222222cc;
$color-grey-80: rgba(68, 68, 68, 0.8);
$color-light-80: rgba(117, 117, 117, 0.8);
$color-white-80: #ffffffcc;
$color-green-80: #bada55cc;
$color-orange-80: #ff9800cc;
$color-violet-80: #d90ffccc;
$color-red-80: #f44336cc;
$color-blue-80: #64d4fccc;
$color-yellow-80: #ffeb3bcc;
$color-turquoise-80: #34c5b7cc;
