.page .fader {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #000000;
  opacity: 1;
  transition: opacity 0.5s;
  z-index: 1000;
  height: 100%;
  width: 100%;
}

.page .fader.hidden {
  opacity: 0;
}

.page,
.pageInner {
  height: 100%;
}
